.html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.05em;
    color: #101010;
    background-color: white;
}

.header {
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    background-color: #101010;
    position: fixed;
}

.inner_header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #101010;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span {
    font-weight: 800;
    color: grey;
}

.logo_container img {
    height: 80px;
    width: auto;
    vertical-align: middle;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 20px;
    text-decoration: none;
}

.navigation a li:hover,a.active {
    color: grey;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #101010;
    color: white;
    text-align: center;
    font-family: 'Montserrat';
}

.footer a{
    color: inherit;
}

.footer a:hover{
    color: grey;
}

.footer ul{
    padding:20px; 
    list-style-type:none; 
    display: inline-block;
    vertical-align: top;
}

.socials img{
    height: 50px;
    width: 50px;
}
