.html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.05em;
    color: #101010;
    background-color: white;
    height: 100%;
}

body{
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 300px;
}

.header {
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    background-color: #101010;
    position: fixed;
}

.inner_header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #101010;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span {
    font-weight: 800;
    color: grey;
}

.logo_container img {
    height: 80px;
    width: auto;
    vertical-align: middle;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 20px;
    text-decoration: none;
}

.navigation a li:hover {
    color: grey;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
}

.footer {
    background: #101010;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    position: absolute;
}

.footer a{
    color: inherit;
}

.footer ul{
    padding:20; 
    list-style-type:none; 
    display: inline-block;
    vertical-align: top;
}

.socials img{
    height: 50px;
    width: 50px;
}

.banner{
    background:url(https://github.com/iTexon/iTexon.github.io/blob/main/img/banner.png?raw=true); 
    background-size: cover;
    margin-top:83px;
    margin-bottom:225px;
    margin-left: -9px;
    margin-rigth: -9px;
    min-width: 1000px;
    min-height: 700px;     
}

.banner_text{
    text-align: center;
    color:white;
}
